In [3]:
import numpy as np
import pandas as pd

In [4]:
movie = pd.read_csv('ml-32m\\movies.csv')
movie_1 = pd.read_csv('ml-32m\\movies_1.csv')

In [84]:
movie_1.head(3)

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

In [6]:
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
movie.shape

(87585, 3)

In [8]:
movie.duplicated().sum()

np.int64(0)

In [9]:
print(movie.duplicated(subset=['title']).sum())

203

In [10]:
movie = movie.drop_duplicates(subset=['title'])

In [11]:
movie['title'].value_counts()

title
Toy Story (1995)                      1
Jumanji (1995)                        1
Grumpier Old Men (1995)               1
Waiting to Exhale (1995)              1
Father of the Bride Part II (1995)    1
                                     ..
The Monroy Affaire (2022)             1
Shelter in Solitude (2023)            1
Orca (2023)                           1
The Angry Breed (1968)                1
Race to the Summit (2023)             1
Name: count, Length: 87382, dtype: int64

In [12]:
movie['year'] = movie['title'].apply(lambda x : x[-5:-1])

In [13]:
movie['name'] = movie['title'].apply(lambda x : x[:-6].strip())

In [14]:
# movie = movie.merge(tags,on='movieId')

In [15]:
movie.head(2)

,movieId,title,genres,year,name
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,Toy Story
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995,Jumanji

In [16]:
movie['new_tag'] = movie['name'] + movie['genres'][0].replace('|',' ')  + movie['year'].astype('str')

In [17]:
movie['new_tag'] = movie['new_tag'].str.lower()

In [18]:
movie =movie[movie['year'].between('2020','2023')]

In [19]:
movie.shape

(7951, 6)

In [20]:
movie.head(3)

,movieId,title,genres,year,name,new_tag
64069,209311,Waves (2020),Drama|Romance,2020,Waves,wavesadventure animation children comedy fanta...
64491,210455,Gretel & Hansel (2020),Fantasy|Horror|Thriller,2020,Gretel & Hansel,gretel & hanseladventure animation children co...
64497,210469,Like a Boss (2020),Comedy,2020,Like a Boss,like a bossadventure animation children comedy...

In [21]:
movie['year'].value_counts()

year
2020    2619
2021    2301
2022    2079
2023     952
Name: count, dtype: int64

In [22]:
movie.isna().sum()

movieId    0
title      0
genres     0
year       0
name       0
new_tag    0
dtype: int64

In [23]:
movie = movie.dropna()

In [ ]:
movie = movie.reset_index()

In [25]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=3000,stop_words='english')

In [26]:
vector = cv.fit_transform(movie['new_tag']).toarray()

In [27]:
vector[0]

array([0, 0, 0, ..., 0, 0, 0], shape=(3000,))

In [28]:
cv.get_feature_names_out()

array(['000', '0adventure', '10', ..., 'Ð¾Ñ€Ð»Ñ‘Ð½ÐºÐ°adventure', 'à¦œà¦¨', 'à¦¨à¦°'],
      shape=(3000,), dtype=object)

In [29]:
from sklearn.metrics.pairwise import cosine_similarity

In [30]:
vector.shape

(7951, 3000)

In [31]:
similar_movies = cosine_similarity(vector)

In [32]:
similar_movies[0]

array([1.        , 1.        , 0.81649658, ..., 0.61237244, 0.75      ,
       0.61237244], shape=(7951,))

In [33]:
movie.head(3)

,index,movieId,title,genres,year,name,new_tag
0,64069,209311,Waves (2020),Drama|Romance,2020,Waves,wavesadventure animation children comedy fanta...
1,64491,210455,Gretel & Hansel (2020),Fantasy|Horror|Thriller,2020,Gretel & Hansel,gretel & hanseladventure animation children co...
2,64497,210469,Like a Boss (2020),Comedy,2020,Like a Boss,like a bossadventure animation children comedy...

In [34]:
movie_name = movie['name'].value_counts().index.str.strip().to_list()
movie_name[2]

'The Accursed'

In [35]:
movie_index = int(movie[movie['name'] == 'The Accursed'].index[0])

In [36]:
similarity_scores = list(enumerate(similar_movies[movie_index]))

similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)

similarity_scores = [(i, float(score)) for i, score in similarity_scores]

top_n = similarity_scores[1:6]

In [37]:
for i in top_n:
    print(i[0])
    print(movie.iloc[i[0]]['name'])

1469
The Marksman
1502
Playhouse
1534
Palmer
1569
The Courier
1677
The Mauritanian

In [79]:
def recommandation_movie(movie_name,k):

    movie_index = int(movie[movie['name'] == movie_name].index[0])
    
    similarity_scores = list(enumerate(similar_movies[movie_index]))

    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)

    similarity_scores = [(i, float(score)) for i, score in similarity_scores]

    top_n = similarity_scores[1:k+1] 

    recommendations = [movie.iloc[i[0]]['name'] for i in top_n]
    return recommendations

In [80]:
movie_name[23]

'White Noise'

In [81]:
recommandation_movie(movie_name[23],5)

['White Riot',
 'The White Tiger',
 'White Eye',
 'White on White',
 'White Elephant']

## Gradio App

In [55]:
import gradio as gr

d:\ML_DL_Project\NLP\p6\rec_venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [56]:
theme = gr.themes.Soft(
    primary_hue="purple",
    neutral_hue="slate"
).set(
    body_background_fill_dark="#0b1220",  # Dark background
    body_text_color_dark="#e5e7eb"        # Light text
)

In [82]:
with gr.Blocks(theme=theme, title="Movie Recommender") as demo:
    gr.Markdown("## ðŸŽ¬ Movie Recommender")
    inp = gr.Dropdown(movie_name, label="Pick a movie")
    k = gr.Slider(1, 10, value=5, label="Number of recommendations")
    btn = gr.Button("Recommend")
    out = gr.List(label="Recommended Movies")

    btn.click(recommandation_movie, inputs=[inp,k], outputs=out)

In [83]:
demo.launch()

* Running on local URL:  http://127.0.0.1:7864
* To create a public link, set `share=True` in `launch()`.