In [152]:
import numpy as np
import pandas as pd

In [153]:
movie = pd.read_csv('ml-32m\\movies.csv')
movie_1 = pd.read_csv('ml-32m\\movies_1.csv')

In [154]:
# movie_1.head(3)

In [155]:
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [156]:
movie.shape

(87585, 3)

In [157]:
movie.duplicated().sum()

np.int64(0)

In [158]:
print(movie.duplicated(subset=['title']).sum())

203

In [159]:
movie = movie.drop_duplicates(subset=['title'])

In [160]:
movie['title'].value_counts()

title
Toy Story (1995)                      1
Jumanji (1995)                        1
Grumpier Old Men (1995)               1
Waiting to Exhale (1995)              1
Father of the Bride Part II (1995)    1
                                     ..
The Monroy Affaire (2022)             1
Shelter in Solitude (2023)            1
Orca (2023)                           1
The Angry Breed (1968)                1
Race to the Summit (2023)             1
Name: count, Length: 87382, dtype: int64

In [161]:
movie['year'] = movie['title'].apply(lambda x : x[-5:-1])

In [162]:
movie['name'] = movie['title'].apply(lambda x : x[:-6].strip())

In [163]:
# movie = movie.merge(tags,on='movieId')

In [164]:
movie.head(2)

,movieId,title,genres,year,name
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995,Toy Story
1,2,Jumanji (1995),Adventure|Children|Fantasy,1995,Jumanji

In [165]:
movie['new_tag'] = movie['name'] + movie['genres'][0].replace('|',' ')  + movie['year'].astype('str')

In [166]:
movie['new_tag'] = movie['new_tag'].str.lower()

In [167]:
movie =movie[movie['year'].between('2020','2023')]

In [168]:
movie.shape

(7951, 6)

In [169]:
movie.head(3)

,movieId,title,genres,year,name,new_tag
64069,209311,Waves (2020),Drama|Romance,2020,Waves,wavesadventure animation children comedy fanta...
64491,210455,Gretel & Hansel (2020),Fantasy|Horror|Thriller,2020,Gretel & Hansel,gretel & hanseladventure animation children co...
64497,210469,Like a Boss (2020),Comedy,2020,Like a Boss,like a bossadventure animation children comedy...

In [170]:
movie['year'].value_counts()

year
2020    2619
2021    2301
2022    2079
2023     952
Name: count, dtype: int64

In [171]:
movie.isna().sum()

movieId    0
title      0
genres     0
year       0
name       0
new_tag    0
dtype: int64

In [172]:
movie = movie.dropna()

In [173]:
movie = movie.reset_index()

In [174]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=3000,stop_words='english')

In [175]:
vector = cv.fit_transform(movie['new_tag']).toarray()

In [176]:
vector[0]

array([0, 0, 0, ..., 0, 0, 0], shape=(3000,))

In [177]:
cv.get_feature_names_out()

array(['000', '0adventure', '10', ..., 'орлёнкаadventure', 'জন', 'নর'],
      shape=(3000,), dtype=object)

In [178]:
from sklearn.metrics.pairwise import cosine_similarity

In [179]:
vector.shape

(7951, 3000)

In [180]:
similar_movies = cosine_similarity(vector)

In [181]:
similar_movies[0]

array([1.        , 1.        , 0.81649658, ..., 0.61237244, 0.75      ,
       0.61237244], shape=(7951,))

In [182]:
movie.head(3)

,index,movieId,title,genres,year,name,new_tag
0,64069,209311,Waves (2020),Drama|Romance,2020,Waves,wavesadventure animation children comedy fanta...
1,64491,210455,Gretel & Hansel (2020),Fantasy|Horror|Thriller,2020,Gretel & Hansel,gretel & hanseladventure animation children co...
2,64497,210469,Like a Boss (2020),Comedy,2020,Like a Boss,like a bossadventure animation children comedy...

In [183]:
movie_name = movie['name'].value_counts().index.str.strip().to_list()
movie_name[2]

'The Accursed'

In [184]:
movie_index = int(movie[movie['name'] == 'The Accursed'].index[0])

In [185]:
similarity_scores = list(enumerate(similar_movies[movie_index]))

similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)

similarity_scores = [(i, float(score)) for i, score in similarity_scores]

top_n = similarity_scores[1:6]

In [186]:
for i in top_n:
    print(i[0])
    print(movie.iloc[i[0]]['name'])

1469
The Marksman
1502
Playhouse
1534
Palmer
1569
The Courier
1677
The Mauritanian

In [187]:
def recommandation_movie(movie_name):

    movie_index = int(movie[movie['name'] == movie_name].index[0])
    
    similarity_scores = list(enumerate(similar_movies[movie_index]))

    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)

    similarity_scores = [(i, float(score)) for i, score in similarity_scores]

    top_n = similarity_scores[1:6] 

    for i in top_n:
        #print(i[0])
        print(movie.iloc[i[0]]['name']) 

    #return movie.iloc[i[0]]['name']

In [190]:
movie_name[23]

'White Noise'

In [192]:
recommandation_movie(movie_name[23])

White Riot
The White Tiger
White Eye
White on White
White Elephant